@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lora:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700&family=Merriweather:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap');




input {
  @apply p-3 text-sm focus:outline-none focus:border-blue-600 text-neutral-300;
}

/* input:focus {
  @apply   text-sm text-blue-500;
}

input::placeholder {
  @apply text-sm text-blue-600/50;
} */


.sharp-shadow:hover {
  box-shadow: -4px 4px 0px 0px #3B82F6;
  border: 1px solid #2563EB;
}

.card-shadow {
  box-shadow: 4px 4px 0px #7e7268;
}
.card-shadow:hover {
  box-shadow: 4.5px 4.5px 0px #7e7268;
}

.newsletter-card-shadow {
  box-shadow: 4px 4px 0px #809ea1;
}

.showListItems {
  list-style-type: disc;
  padding-left: 1em;
  
}

.no-tailwind * {
  all: revert;
}

.scrollable-div {
  overflow-y: auto;
  max-height: 450px;
}